<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <!-- content goes here -->
      <div class="feature-player">
     <div class="video-container aspect-outer pending">
       <div class="aspect-inner">
         <video
           data-account="1509317113"
           data-player="Nk8AFQkhe"
           data-embed="default"
           id="player"
           class="video-js" controls>
         </video>
       </div>
     </div>
     <hr>
     <h1>Videos of the year 2019</h1>
     <p class="chatter">
       Our favorite Seattle Times video stories and short documentaries of 2019
     </p>
      <div class="playlist-controls">
       <div class="playlist-container loading"></div>
      </div>
   </div>
    </responsive-child>

    <script>
    var playlistID = 1651943876230718130;
    console.log(playlistID);
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
